.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 140px; 
  margin-top: 70px;
  margin-right: 70px;
}

.detailsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.detailsImage {
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(69, 28, 121), -2px -2px 3px rgb(69, 28, 121);
  margin: 8px 0px;
}

.detailsList {
  flex-grow: 2; 
  max-width: 50%;
}

.upperList {
  text-align: center;
}

.detailsListItem {
  list-style-type: none;
}

#synopsisListItem {
  margin-top: 10px;
}


.showFormButton {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(69, 28, 121), -1px -1px 3px rgb(69, 28, 121);
  margin-top: 35px;
}

.netflixButton {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(69, 28, 121), -1px -1px 3px rgb(69, 28, 121);
  margin-top: 35px;
}

.favoriteDropdown {
  margin-top: 28px;
}

.favoriteType {
  background-color: black;
  border-radius: 5px;
  padding: 1px 1px;
}

.saveFavoriteButton {
  margin-left: 18px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(69, 28, 121), -1px -1px 3px rgb(69, 28, 121);
  margin-top: 10px;
}

.episodeCardName {
  width: 200px;
}

.seasonDisplay {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  max-height: 70vh;
  margin-right: 50px;
  padding-right: 50px;
}

.seasonSelector {
  background-color: black;
  border-radius: 5px;
  padding: 1px 1px;
  margin-top: 15px;
  width: 150kpx;
  margin-bottom: 25px;
}

.episodeCardImage {
  width: 200px;
  margin-bottom: -20px;
}

.episodeCard {
  margin-bottom: 15px;
}