.titleCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
}

.loadingSpinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.titleImage {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(69, 28, 121), -2px -2px 5px rgb(69, 28, 121);
  margin: 8px 0px;
}

.titleImage:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#titleType {
  background-color: black;
  border-radius: 10px;
  padding: 3px 6px;
  margin-right: 50px;
}

.option {
  padding: 3px 2px;
}

.formContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.titleDropdown {
  margin-top: 70px; 
}

.searchInput {
  margin-right: 50px;
  margin-left: 50px;
}

.searchBar {
  background-color: black;
  border-radius: 20px;
  padding: 4px 10px;
  margin-top: 70px;
}

#titleExclude {
  background-color: black;
  border-radius: 10px;
  padding: 3px 6px;
  margin-right: 50px;
}

.overlayContent {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.overlay {
  position: relative;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
  border-radius: 5px;
}

.overlayItem {
  list-style-type: none;
  margin: 20px;
}

.titleCard:hover .overlay {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.overlayItemContainer {
  display: flex;
  justify-content: space-around;
}

#searchMode {
  background-color: black;
  border-radius: 10px;
  padding: 3px 6px;
  margin-right: 50px;
}

.showMoreButtonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 40px;
}